# Virtual environment
venv/

# Environment variables & secrets
.env

# Python bytecode & cache
__pycache__/
*.py[cod]
.pytest_cache/

# Generated runtime files & HLS stream segments
instance/
*.m3u8
*.ts
